.additional {
    margin-bottom: 44px;
    @media (min-width: $tablet-width) {
        margin-bottom: 76px;
    }
    @media (min-width: $desktop-width) {
        margin-bottom: 86px;
    }
}

.additional__title-box {
    margin-top: -1px;
    @media (min-width: $tablet-width) {
        padding-left: 40px;
        padding-right: 40px;
    }
    @media (min-width: $desktop-width) {
        padding-left: 0;
        padding-right: 0;
    }
}

.additional__title {
    margin-top: 0;
    margin-bottom: 34px;
    @media (min-width: $tablet-width) {
        margin-bottom: 80px;
    }
    @media (min-width: $desktop-width) {
        margin-top: 5px;
        margin-bottom: 78px;
    }
}

.additional__list {
    @media (min-width: $desktop-width) {
        display: flex;
    }
}

.additional__items {
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid $gray-base;
    margin-bottom: 73px;
    @media (min-width: $desktop-width) {
        width: 896px;
        margin: 0;
    }
}

.additional__card {
    border: none;
    border-top: 1px solid $gray-base;
    padding-top: 13px;
    padding-bottom: 15px;
    @media (min-width: $tablet-width) {
        border: 1px solid $gray-base;
        padding-top: 26px;
        padding-bottom: 23px;
        padding-left: 38px;
        padding-right: 38px;
        margin-bottom: -1px;
    }
    @media (min-width: $desktop-width) {
        display: flex;
        padding-top: 16px;
        padding-bottom: 15px;
        padding-left: 0;
        padding-right: 0;
        border: none;
        border-top: 1px solid $gray-base;
        justify-content: space-between;
        align-items: center;
    }
}

.additional__card-info {
    @media (min-width: $tablet-width) {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    @media (min-width: $desktop-width) {
        width: calc(100% - 244px);
        margin: 0;
    }
}

.additional__card-title {
    margin: 0;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 16px;
    font-family: Oswald, sans-serif;
    font-weight: 300;
    margin-bottom: 10px;
    @media (min-width: $tablet-width) {
        font-size: 20px;
        line-height: 20px;
        margin: 0;
        width: 50%;
    }
}

.additional__params-item {
    font-size: 14px;
    line-height: 14px;
    width: 100%;
    margin-bottom: 12px;
    @media (min-width: $tablet-width) {
        margin: 0;
        font-size: 16px;
        line-height: 20px;
    }

    @media (min-width: $desktop-width) {
        width: 325px;
    }
}

.additional__value-param {
    text-align: right;
    @media (min-width: $tablet-width) {
        width: 94px;
    }

    @media (min-width: $desktop-width) {
        width: 82px;
        text-align: left;
    }
}

.additional__title-param {
    @media (min-width: $tablet-width) {
        text-align: right;
    }

    @media (min-width: $desktop-width) {
        text-align: left;
    }
}

.additional__button {
    @media (min-width: $desktop-width) {
        width: 244px;
        height: 40px;
    }
}

.additional__banner {
    padding-top: 186px;
    width: 100%;
    height: 289px;
    background-image: url('../img/icon-gift.svg'), url('../img/gift-photo-mobile-1.png');
    background-repeat: no-repeat;
    background-size: auto, cover;
    background-position: center top 58px, center center;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url('../img/icon-gift.svg'), url('../img/gift-photo-mobile-1@2.png');   
    }
    @media (min-width: $tablet-width) {
        background-position: center left 78px, center center;
        height: 200px;
        padding-top: 71px;
        text-align: left;
        display: flex;
        flex-direction: row-reverse;
    }
    @media (min-width: $desktop-width) {
        width: 245px;
        margin-left: auto;
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding-top: 185px;
        padding-bottom: 41px;
        height: auto;
        background-position: center top 56px, center center;
    }
}

.additional__banner-text {
    margin: 0;
    @media (min-width: $tablet-width) {
        margin-right: 124px;
    }
    @media (min-width: $desktop-width) {
        margin: 0;
    }
}
