.header {
    position: relative;
}

.header__home {
    &::after {
        content: "";
        position: absolute;
        background-image: url("../img/index-background-desktop.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 302px;
        z-index: -1;
        width: 100%;
        top: 268px;
        left: 0;
        z-index: -3;
        display: none;
        @media (min-width: $tablet-width) {
            display: none;
        }
        @media (min-width: $desktop-width) {
            display: block;
            width: 50%;
            left: 50%;
            top: 0;
            height: 692px;
        }
        @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
            background-image: url("../img/index-background-desktop@2.png");
        }
    }
    &::before {
        content: "";
        position: absolute;
        top: 268px;
        left: 0;
        opacity: 0.85;
        background-color: $green-base;
        width: 100%;
        height: 302px;
        z-index: -1;
        display: none;
        @media (min-width: $tablet-width) {
            display: none;
        }
        @media (min-width: $desktop-width) {
            display: block;
            width: 50%;
            left: 50%;
            top: 0;
            height: 692px;
        }
    }
}

.header__switch-close {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url("../img/cross-mobile.svg");
    background-color: rgba($color: #000000, $alpha: 0.0);
    top: 23px;
    right: 23px;
    border: none;
}

.header__switch-close--invisible {
    display: none;
    @media (min-width: $tablet-width) {
        display: none;
    }
}

.header__switch-close--visible {
    display: block;
    @media (min-width: $tablet-width) {
        display: none;
    }
}

.header__switch-open {
    position: absolute;
    width: 24px;
    height: 18px;
    background-image: url("../img/icon-burger.svg");
    background-color: rgba($color: #000000, $alpha: 0.0);
    top: 23px;
    right: 20px;
    border: none;
}

.header__switch-open--invisible {
    display: none;
    @media (min-width: $tablet-width) {
        display: none;
    }
}

.header__switch-open--visible {
    display: block;
    @media (min-width: $tablet-width) {
        display: none;
    }
}

.header__bar {
    padding-top: 12px;
    @media (min-width: $tablet-width) {
        display: flex;
        justify-content: space-between;
        padding-top: 24px;
        padding-bottom: 24px;
        align-items: center;
        margin-bottom: 0;
    }
    @media (min-width: $desktop-width) {
        padding-top: 50px;
        padding-bottom: 34px;
    }
}

.header__logo {
    display: block;
    transition: all 0.3s;
    @media (min-width: $tablet-width) {
        margin: 0;
    }
    &:hover {
        opacity: 0.8;
    }
    &:active {
        opacity: 0.6;
    }
}

.header__menu {
    padding: 0;
    margin: 0;
    margin-top: 12px;
    margin-bottom: -13px;
    @media (min-width: $tablet-width) {
        margin: 0;
    }
}

.header__menu--invisible {
    display: none;
    @media (min-width: $tablet-width) {
        display: flex;
    }
}

.header__menu--visible {
    display: block;
    @media (min-width: $tablet-width) {
        display: flex;
    }
}

.header__menu-item {
    list-style: none;
    padding-top: 22px;
    padding-bottom: 24px;
    text-align: center;
    position: relative;
    @media (min-width: $tablet-width) {
        padding: 0;
    }
    a {
        font-size: 20px;
        line-height: 20px;
        font-weight: 300;
        font-family: Oswald, sans-serif;
        color: #000;
        text-decoration: none;
        text-transform: uppercase;
        transition: all 0.3s;
        @media (min-width: $tablet-width) {
            font-size: 18px;
            line-height: 24px;
        }
        @media (min-width: $desktop-width) {
            font-size: 20px;
            line-height: 30px;
        }
        &:hover {
            opacity: 0.6;
        }
        &:active {
            opacity: 0.8;
        }
    }
    &::after {
        content: "";
        position: absolute;
        background-color: $gray-base;
        width: calc(100% + 44px);
        height: 1px;
        top: 0;
        left: -22px;
        @media (min-width: $tablet-width) {
            display: none;
        }
    }
}

.header__menu-item--action {
    &::before {
        @media (min-width: $tablet-width) {
        content: "";
        width: 100%;
        height: 2px;
        bottom: -10px;
        position: absolute;
        background-color: $green-base;
        }
    }
}

.header__menu-item--main {
    a {
        @media (min-width: $desktop-width) {
            color: #ffffff;
        }
    }
    &::before {
        @media (min-width: $desktop-width) {
            background-color: #ffffff;
        }
    }
}

.header__menu-item--home {
    @media (min-width: $tablet-width) {
        margin-right: 34px;
    }
}

.header__menu-item--catalog {
    @media (min-width: $tablet-width) {
        margin-right: 36px;
    }
}

.header__info {
    position: relative;
    text-align: center;
    color: #fff;
    height: 480px;
    margin-top: 50px;
    @media (min-width: $tablet-width) {
        color: #000000;
        text-align: left;
        height: 810px;
        margin-top: 0;
    }
    @media (min-width: $desktop-width) {
        height: 517px;
    }
    &::after {
        content: "";
        position: absolute;
        background-image: url("../img/index-background-desktop-2.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 302px;
        z-index: -1;
        width: 100%;
        top: -40px;
        left: 0;
        z-index: -3;
        @media (min-width: $tablet-width) {
            display: none;
        }
        @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
            background-image: url("../img/index-background-desktop-2@2.png");
        }
    }
    &::before {
        content: "";
        position: absolute;
        top: -40px;
        left: 0;
        opacity: 0.85;
        background-color: $green-base;
        width: 100%;
        height: 302px;
        z-index: -1;
        @media (min-width: $tablet-width) {
            display: none;
        }
    }
}

.header__textblock {
    margin-top: 38px;
    @media (min-width: $tablet-width) {
        margin-top: -3px;
        padding-left: 87px;
    }
    @media (min-width: $desktop-width) {
        padding-left: 80px;
        margin-top: 78px;
    }
}

.header__main-title {
    z-index: 2;
    @media (min-width: $tablet-width) {
        width: 420px;
        margin-bottom: 41px;
    }
}

.header__main-title-inner {
    margin-top: 27px;
    margin-bottom: 37px;
    @media (min-width: $tablet-width) {
        margin-top: 38px;
        margin-bottom: 52px;
    }
    @media (min-width: $desktop-width) {
        margin-bottom: 60px;
    }
}

.header__discription {
    font-size: 14px;
    line-height: 14px;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    z-index: 3;
    @media (min-width: $tablet-width) {
        font-size: 20px;
        line-height: 20px;
    }
}

.header__discription--inner {
    line-height: 18px;
    margin-bottom: 39px;
    padding-right: 20px;
    @media (min-width: $tablet-width) {
        margin: 0;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 66px;
        width: 350px;
    }
}

.header__button {
    @media (min-width: $tablet-width) {
        display: inline-block;
        padding-right: 26px;
        padding-left: 26px;
        position: absolute;
        top: 230px;
        left: 112px;
    }
    @media (min-width: $desktop-width) {
        left: 80px;
    }
}


.header__product-container {
    display: flex;
    justify-content: center;
    @media (min-width: $desktop-width) {
        position: relative;
        display: block;
    }
}

.header__product {
    margin-top: 20px;
    width: 280px;
    height: 270px;
    background-image: url('../img/index-can-mobile-1.png');
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
        background-image: url('../img/index-can-tablet-1.png');
        width: 709px;
        height: 609px;
        margin-top: 0;
    }
    @media (min-width: $desktop-width) {
        background-image: url('../img/index-can.png');
        width: 552px;
        height: 499px;
        position: absolute;
        left: 448px;
        top: -284px;
    }
}

.header__info-inner {
    margin-top: 10px;
    border-top: $gray-base solid 1px;
    @media (min-width: $tablet-width) {
        border: none;
    }
}